.home {
  margin: 0 auto;
  padding-top: 142px;
  display: flex;
  justify-content: center;

  .hero {
    width: 60%;
    height: 200px;
    background-image: url(/images/tour/tours-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 60px;
      color: white;
      font-family: PC;
    }
  }

  .hero1 {
    width: 60%;
    height: 500px;
    background-image: url(/images/tour/tour-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .country {
      color: white;
      font-size: 80px;
      font-family: PC;
      padding-left: 30px;
    }

    .price {
      color: white;
      font-size: 30px;
      font-family: PC;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 10px;
      text-transform: uppercase;
    }
  }

  .hero2 {
    width: 60%;
    height: 500px;
    background-image: url(/images/tour/tour-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .country {
      color: white;
      font-size: 80px;
      font-family: PC;
      padding-left: 30px;
    }

    .price {
      color: white;
      font-size: 30px;
      font-family: PC;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 10px;
      text-transform: uppercase;
    }
  }

  .hero3 {
    width: 60%;
    height: 500px;
    background-image: url(/images/tour/tour-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .country {
      color: white;
      font-size: 80px;
      font-family: PC;
      padding-left: 30px;
    }

    .price {
      color: white;
      font-size: 30px;
      font-family: PC;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 10px;
      text-transform: uppercase;
    }
  }

  .hero4 {
    width: 60%;
    height: 500px;
    background-image: url(/images/tour/tour-04.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .country {
      color: white;
      font-size: 80px;
      font-family: PC;
      padding-left: 30px;
    }

    .price {
      color: white;
      font-size: 30px;
      font-family: PC;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 10px;
      text-transform: uppercase;
    }
  }

  .hero5 {
    width: 60%;
    height: 500px;
    background-image: url(/images/tour/tour-05.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .country {
      color: white;
      font-size: 80px;
      font-family: PC;
      padding-left: 30px;
    }

    .price {
      color: white;
      font-size: 30px;
      font-family: PC;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 10px;
      text-transform: uppercase;
    }
  }

  .hero6 {
    width: 60%;
    height: 500px;
    background-image: url(/images/tour/tour-06.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .country {
      color: white;
      font-size: 80px;
      font-family: PC;
      padding-left: 30px;
    }

    .price {
      color: white;
      font-size: 30px;
      font-family: PC;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 10px;
      text-transform: uppercase;
    }
  }

  .hero7 {
    width: 60%;
    height: 500px;
    background-image: url(/images/tour/tour-07.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .country {
      color: white;
      font-size: 80px;
      font-family: PC;
      padding-left: 30px;
    }

    .price {
      color: white;
      font-size: 30px;
      font-family: PC;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 10px;
      text-transform: uppercase;
    }
  }

  .hero8 {
    width: 60%;
    height: 500px;
    background-image: url(/images/tour/tour-08.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .country {
      color: white;
      font-size: 80px;
      font-family: PC;
      padding-left: 30px;
    }

    .price {
      color: white;
      font-size: 30px;
      font-family: PC;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 10px;
      text-transform: uppercase;
    }
  }

  .hero9 {
    width: 60%;
    height: 500px;
    background-image: url(/images/tour/tour-09.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .country {
      color: white;
      font-size: 80px;
      font-family: PC;
      padding-left: 30px;
    }

    .price {
      color: white;
      font-size: 30px;
      font-family: PC;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 10px;
      text-transform: uppercase;
    }
  }
}
